.loater-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code-editor-section {
  position: relative;
  width: 60%;
}

.code-block-ditails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.user-mode {
  align-self: self-end;
}

.users-count {
  padding: 0.5rem 1rem;
  background-color: #7ee23b;
  color: #091601;
  border-radius: 7px;
}

/*784*/
@media (max-width: 49em) {
  .code-editor-section {
    width: 95%;
  }
}
