.title {
  font-size: 3rem;
}

.options-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.list-item {
  background-color: #2563eb;
  min-width: 18rem;
  padding: 1rem 0rem;
  border-radius: 9px;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.list-item:hover {
  background-color: black;
}
